server:
  port: 8080

spring:
    datasource:
        name: test
        url: jdbc:mysql://116.62.23.45:3306/asd?useUnicode=true&characterEncoding=UTF-8
        username: root
        password: 123456
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    redis:
      host: 127.0.0.1
      port: 6379
    application:
      name: webapi
mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.aishidai.app.model.pojo.*
  check-config-location: true
  config-location: classpath:mybatis-config.xml
logging:
  level:
    org.springframework.web: DEBUG
    com.aishidai.app.dao: DEBUG
alishidai: testHolleWrod