<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.CraftsmenDOMapper" >
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.CraftsmenDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shops_id" property="shopsId" jdbcType="BIGINT" />
    <result column="distributor_id" property="distributorId" jdbcType="INTEGER" />
    <result column="craftsman_name" property="craftsmanName" jdbcType="VARCHAR" />
    <result column="craftsman_url" property="craftsmanUrl" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="audit" property="audit" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shops_id, distributor_id, craftsman_name, craftsman_url, skill, telephone, title_id, 
    area, province, city, address, status, created, updated, is_deleted, sys_user_id, 
    service_id, wechat, audit, star
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from craftsmen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from craftsmen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.pojo.CraftsmenDO" >
    insert into craftsmen (id, shops_id, distributor_id, 
      craftsman_name, craftsman_url, skill, 
      telephone, title_id, area, 
      province, city, address, 
      status, created, updated, 
      is_deleted, sys_user_id, service_id, 
      wechat, audit, star
      )
    values (#{id,jdbcType=INTEGER}, #{shopsId,jdbcType=BIGINT}, #{distributorId,jdbcType=INTEGER}, 
      #{craftsmanName,jdbcType=VARCHAR}, #{craftsmanUrl,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{sysUserId,jdbcType=INTEGER}, #{serviceId,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{audit,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.pojo.CraftsmenDO" >
    insert into craftsmen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopsId != null" >
        shops_id,
      </if>
      <if test="distributorId != null" >
        distributor_id,
      </if>
      <if test="craftsmanName != null" >
        craftsman_name,
      </if>
      <if test="craftsmanUrl != null" >
        craftsman_url,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="star != null" >
        star,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopsId != null" >
        #{shopsId,jdbcType=BIGINT},
      </if>
      <if test="distributorId != null" >
        #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="craftsmanName != null" >
        #{craftsmanName,jdbcType=VARCHAR},
      </if>
      <if test="craftsmanUrl != null" >
        #{craftsmanUrl,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.pojo.CraftsmenDO" >
    update craftsmen
    <set >
      <if test="shopsId != null" >
        shops_id = #{shopsId,jdbcType=BIGINT},
      </if>
      <if test="distributorId != null" >
        distributor_id = #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="craftsmanName != null" >
        craftsman_name = #{craftsmanName,jdbcType=VARCHAR},
      </if>
      <if test="craftsmanUrl != null" >
        craftsman_url = #{craftsmanUrl,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.pojo.CraftsmenDO" >
    update craftsmen
    set shops_id = #{shopsId,jdbcType=BIGINT},
      distributor_id = #{distributorId,jdbcType=INTEGER},
      craftsman_name = #{craftsmanName,jdbcType=VARCHAR},
      craftsman_url = #{craftsmanUrl,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      sys_user_id = #{sysUserId,jdbcType=INTEGER},
      service_id = #{serviceId,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      audit = #{audit,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>