<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.DataCollectDOMapper" >
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.DataCollectDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="body_data" property="bodyData" jdbcType="BIGINT" />
    <result column="angle_switching" property="angleSwitching" jdbcType="BIGINT" />
    <result column="fitting_room" property="fittingRoom" jdbcType="BIGINT" />
    <result column="face" property="face" jdbcType="BIGINT" />
    <result column="face_save" property="faceSave" jdbcType="BIGINT" />
    <result column="p_times" property="pTimes" jdbcType="BIGINT" />
    <result column="shop_cart" property="shopCart" jdbcType="BIGINT" />
    <result column="register" property="register" jdbcType="BIGINT" />
    <result column="quit" property="quit" jdbcType="BIGINT" />
    <result column="personal" property="personal" jdbcType="BIGINT" />
    <result column="scene" property="scene" jdbcType="BIGINT" />
    <result column="login" property="login" jdbcType="BIGINT" />
    <result column="shoes" property="shoes" jdbcType="BIGINT" />
    <result column="accessories" property="accessories" jdbcType="BIGINT" />
    <result column="clothing" property="clothing" jdbcType="BIGINT" />
    <result column="hairstyle" property="hairstyle" jdbcType="BIGINT" />
    <result column="gallery" property="gallery" jdbcType="BIGINT" />
    <result column="standard_stature" property="standardStature" jdbcType="BIGINT" />
    <result column="healthy" property="healthy" jdbcType="BIGINT" />
    <result column="natural" property="natural" jdbcType="BIGINT" />
    <result column="ruddy" property="ruddy" jdbcType="BIGINT" />
    <result column="fair" property="fair" jdbcType="BIGINT" />
    <result column="normal_color" property="normalColor" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, body_data, angle_switching, fitting_room, face, face_save, p_times, shop_cart, 
    register, quit, personal, scene, login, shoes, accessories, clothing, hairstyle, 
    gallery, standard_stature, healthy, natural, ruddy, fair, normal_color, created, 
    updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aishidai.app.model.pojo.DataCollectDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from data_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from data_collect
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from data_collect
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aishidai.app.model.pojo.DataCollectDOExample" >
    delete from data_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.pojo.DataCollectDO" >
    insert into data_collect (id, body_data, angle_switching, 
      fitting_room, face, face_save, 
      p_times, shop_cart, register, 
      quit, personal, scene, 
      login, shoes, accessories, 
      clothing, hairstyle, gallery, 
      standard_stature, healthy, natural, 
      ruddy, fair, normal_color, 
      created, updated)
    values (#{id,jdbcType=BIGINT}, #{bodyData,jdbcType=BIGINT}, #{angleSwitching,jdbcType=BIGINT}, 
      #{fittingRoom,jdbcType=BIGINT}, #{face,jdbcType=BIGINT}, #{faceSave,jdbcType=BIGINT}, 
      #{pTimes,jdbcType=BIGINT}, #{shopCart,jdbcType=BIGINT}, #{register,jdbcType=BIGINT}, 
      #{quit,jdbcType=BIGINT}, #{personal,jdbcType=BIGINT}, #{scene,jdbcType=BIGINT}, 
      #{login,jdbcType=BIGINT}, #{shoes,jdbcType=BIGINT}, #{accessories,jdbcType=BIGINT}, 
      #{clothing,jdbcType=BIGINT}, #{hairstyle,jdbcType=BIGINT}, #{gallery,jdbcType=BIGINT}, 
      #{standardStature,jdbcType=BIGINT}, #{healthy,jdbcType=BIGINT}, #{natural,jdbcType=BIGINT}, 
      #{ruddy,jdbcType=BIGINT}, #{fair,jdbcType=BIGINT}, #{normalColor,jdbcType=BIGINT}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.pojo.DataCollectDO" >
    insert into data_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bodyData != null" >
        body_data,
      </if>
      <if test="angleSwitching != null" >
        angle_switching,
      </if>
      <if test="fittingRoom != null" >
        fitting_room,
      </if>
      <if test="face != null" >
        face,
      </if>
      <if test="faceSave != null" >
        face_save,
      </if>
      <if test="pTimes != null" >
        p_times,
      </if>
      <if test="shopCart != null" >
        shop_cart,
      </if>
      <if test="register != null" >
        register,
      </if>
      <if test="quit != null" >
        quit,
      </if>
      <if test="personal != null" >
        personal,
      </if>
      <if test="scene != null" >
        scene,
      </if>
      <if test="login != null" >
        login,
      </if>
      <if test="shoes != null" >
        shoes,
      </if>
      <if test="accessories != null" >
        accessories,
      </if>
      <if test="clothing != null" >
        clothing,
      </if>
      <if test="hairstyle != null" >
        hairstyle,
      </if>
      <if test="gallery != null" >
        gallery,
      </if>
      <if test="standardStature != null" >
        standard_stature,
      </if>
      <if test="healthy != null" >
        healthy,
      </if>
      <if test="natural != null" >
        natural,
      </if>
      <if test="ruddy != null" >
        ruddy,
      </if>
      <if test="fair != null" >
        fair,
      </if>
      <if test="normalColor != null" >
        normal_color,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bodyData != null" >
        #{bodyData,jdbcType=BIGINT},
      </if>
      <if test="angleSwitching != null" >
        #{angleSwitching,jdbcType=BIGINT},
      </if>
      <if test="fittingRoom != null" >
        #{fittingRoom,jdbcType=BIGINT},
      </if>
      <if test="face != null" >
        #{face,jdbcType=BIGINT},
      </if>
      <if test="faceSave != null" >
        #{faceSave,jdbcType=BIGINT},
      </if>
      <if test="pTimes != null" >
        #{pTimes,jdbcType=BIGINT},
      </if>
      <if test="shopCart != null" >
        #{shopCart,jdbcType=BIGINT},
      </if>
      <if test="register != null" >
        #{register,jdbcType=BIGINT},
      </if>
      <if test="quit != null" >
        #{quit,jdbcType=BIGINT},
      </if>
      <if test="personal != null" >
        #{personal,jdbcType=BIGINT},
      </if>
      <if test="scene != null" >
        #{scene,jdbcType=BIGINT},
      </if>
      <if test="login != null" >
        #{login,jdbcType=BIGINT},
      </if>
      <if test="shoes != null" >
        #{shoes,jdbcType=BIGINT},
      </if>
      <if test="accessories != null" >
        #{accessories,jdbcType=BIGINT},
      </if>
      <if test="clothing != null" >
        #{clothing,jdbcType=BIGINT},
      </if>
      <if test="hairstyle != null" >
        #{hairstyle,jdbcType=BIGINT},
      </if>
      <if test="gallery != null" >
        #{gallery,jdbcType=BIGINT},
      </if>
      <if test="standardStature != null" >
        #{standardStature,jdbcType=BIGINT},
      </if>
      <if test="healthy != null" >
        #{healthy,jdbcType=BIGINT},
      </if>
      <if test="natural != null" >
        #{natural,jdbcType=BIGINT},
      </if>
      <if test="ruddy != null" >
        #{ruddy,jdbcType=BIGINT},
      </if>
      <if test="fair != null" >
        #{fair,jdbcType=BIGINT},
      </if>
      <if test="normalColor != null" >
        #{normalColor,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aishidai.app.model.pojo.DataCollectDOExample" resultType="java.lang.Integer" >
    select count(*) from data_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update data_collect
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bodyData != null" >
        body_data = #{record.bodyData,jdbcType=BIGINT},
      </if>
      <if test="record.angleSwitching != null" >
        angle_switching = #{record.angleSwitching,jdbcType=BIGINT},
      </if>
      <if test="record.fittingRoom != null" >
        fitting_room = #{record.fittingRoom,jdbcType=BIGINT},
      </if>
      <if test="record.face != null" >
        face = #{record.face,jdbcType=BIGINT},
      </if>
      <if test="record.faceSave != null" >
        face_save = #{record.faceSave,jdbcType=BIGINT},
      </if>
      <if test="record.pTimes != null" >
        p_times = #{record.pTimes,jdbcType=BIGINT},
      </if>
      <if test="record.shopCart != null" >
        shop_cart = #{record.shopCart,jdbcType=BIGINT},
      </if>
      <if test="record.register != null" >
        register = #{record.register,jdbcType=BIGINT},
      </if>
      <if test="record.quit != null" >
        quit = #{record.quit,jdbcType=BIGINT},
      </if>
      <if test="record.personal != null" >
        personal = #{record.personal,jdbcType=BIGINT},
      </if>
      <if test="record.scene != null" >
        scene = #{record.scene,jdbcType=BIGINT},
      </if>
      <if test="record.login != null" >
        login = #{record.login,jdbcType=BIGINT},
      </if>
      <if test="record.shoes != null" >
        shoes = #{record.shoes,jdbcType=BIGINT},
      </if>
      <if test="record.accessories != null" >
        accessories = #{record.accessories,jdbcType=BIGINT},
      </if>
      <if test="record.clothing != null" >
        clothing = #{record.clothing,jdbcType=BIGINT},
      </if>
      <if test="record.hairstyle != null" >
        hairstyle = #{record.hairstyle,jdbcType=BIGINT},
      </if>
      <if test="record.gallery != null" >
        gallery = #{record.gallery,jdbcType=BIGINT},
      </if>
      <if test="record.standardStature != null" >
        standard_stature = #{record.standardStature,jdbcType=BIGINT},
      </if>
      <if test="record.healthy != null" >
        healthy = #{record.healthy,jdbcType=BIGINT},
      </if>
      <if test="record.natural != null" >
        natural = #{record.natural,jdbcType=BIGINT},
      </if>
      <if test="record.ruddy != null" >
        ruddy = #{record.ruddy,jdbcType=BIGINT},
      </if>
      <if test="record.fair != null" >
        fair = #{record.fair,jdbcType=BIGINT},
      </if>
      <if test="record.normalColor != null" >
        normal_color = #{record.normalColor,jdbcType=BIGINT},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update data_collect
    set id = #{record.id,jdbcType=BIGINT},
      body_data = #{record.bodyData,jdbcType=BIGINT},
      angle_switching = #{record.angleSwitching,jdbcType=BIGINT},
      fitting_room = #{record.fittingRoom,jdbcType=BIGINT},
      face = #{record.face,jdbcType=BIGINT},
      face_save = #{record.faceSave,jdbcType=BIGINT},
      p_times = #{record.pTimes,jdbcType=BIGINT},
      shop_cart = #{record.shopCart,jdbcType=BIGINT},
      register = #{record.register,jdbcType=BIGINT},
      quit = #{record.quit,jdbcType=BIGINT},
      personal = #{record.personal,jdbcType=BIGINT},
      scene = #{record.scene,jdbcType=BIGINT},
      login = #{record.login,jdbcType=BIGINT},
      shoes = #{record.shoes,jdbcType=BIGINT},
      accessories = #{record.accessories,jdbcType=BIGINT},
      clothing = #{record.clothing,jdbcType=BIGINT},
      hairstyle = #{record.hairstyle,jdbcType=BIGINT},
      gallery = #{record.gallery,jdbcType=BIGINT},
      standard_stature = #{record.standardStature,jdbcType=BIGINT},
      healthy = #{record.healthy,jdbcType=BIGINT},
      natural = #{record.natural,jdbcType=BIGINT},
      ruddy = #{record.ruddy,jdbcType=BIGINT},
      fair = #{record.fair,jdbcType=BIGINT},
      normal_color = #{record.normalColor,jdbcType=BIGINT},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.pojo.DataCollectDO" >
    update data_collect
    <set >
      <if test="bodyData != null" >
        body_data = #{bodyData,jdbcType=BIGINT},
      </if>
      <if test="angleSwitching != null" >
        angle_switching = #{angleSwitching,jdbcType=BIGINT},
      </if>
      <if test="fittingRoom != null" >
        fitting_room = #{fittingRoom,jdbcType=BIGINT},
      </if>
      <if test="face != null" >
        face = #{face,jdbcType=BIGINT},
      </if>
      <if test="faceSave != null" >
        face_save = #{faceSave,jdbcType=BIGINT},
      </if>
      <if test="pTimes != null" >
        p_times = #{pTimes,jdbcType=BIGINT},
      </if>
      <if test="shopCart != null" >
        shop_cart = #{shopCart,jdbcType=BIGINT},
      </if>
      <if test="register != null" >
        register = #{register,jdbcType=BIGINT},
      </if>
      <if test="quit != null" >
        quit = #{quit,jdbcType=BIGINT},
      </if>
      <if test="personal != null" >
        personal = #{personal,jdbcType=BIGINT},
      </if>
      <if test="scene != null" >
        scene = #{scene,jdbcType=BIGINT},
      </if>
      <if test="login != null" >
        login = #{login,jdbcType=BIGINT},
      </if>
      <if test="shoes != null" >
        shoes = #{shoes,jdbcType=BIGINT},
      </if>
      <if test="accessories != null" >
        accessories = #{accessories,jdbcType=BIGINT},
      </if>
      <if test="clothing != null" >
        clothing = #{clothing,jdbcType=BIGINT},
      </if>
      <if test="hairstyle != null" >
        hairstyle = #{hairstyle,jdbcType=BIGINT},
      </if>
      <if test="gallery != null" >
        gallery = #{gallery,jdbcType=BIGINT},
      </if>
      <if test="standardStature != null" >
        standard_stature = #{standardStature,jdbcType=BIGINT},
      </if>
      <if test="healthy != null" >
        healthy = #{healthy,jdbcType=BIGINT},
      </if>
      <if test="natural != null" >
        natural = #{natural,jdbcType=BIGINT},
      </if>
      <if test="ruddy != null" >
        ruddy = #{ruddy,jdbcType=BIGINT},
      </if>
      <if test="fair != null" >
        fair = #{fair,jdbcType=BIGINT},
      </if>
      <if test="normalColor != null" >
        normal_color = #{normalColor,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.pojo.DataCollectDO" >
    update data_collect
    set body_data = #{bodyData,jdbcType=BIGINT},
      angle_switching = #{angleSwitching,jdbcType=BIGINT},
      fitting_room = #{fittingRoom,jdbcType=BIGINT},
      face = #{face,jdbcType=BIGINT},
      face_save = #{faceSave,jdbcType=BIGINT},
      p_times = #{pTimes,jdbcType=BIGINT},
      shop_cart = #{shopCart,jdbcType=BIGINT},
      register = #{register,jdbcType=BIGINT},
      quit = #{quit,jdbcType=BIGINT},
      personal = #{personal,jdbcType=BIGINT},
      scene = #{scene,jdbcType=BIGINT},
      login = #{login,jdbcType=BIGINT},
      shoes = #{shoes,jdbcType=BIGINT},
      accessories = #{accessories,jdbcType=BIGINT},
      clothing = #{clothing,jdbcType=BIGINT},
      hairstyle = #{hairstyle,jdbcType=BIGINT},
      gallery = #{gallery,jdbcType=BIGINT},
      standard_stature = #{standardStature,jdbcType=BIGINT},
      healthy = #{healthy,jdbcType=BIGINT},
      natural = #{natural,jdbcType=BIGINT},
      ruddy = #{ruddy,jdbcType=BIGINT},
      fair = #{fair,jdbcType=BIGINT},
      normal_color = #{normalColor,jdbcType=BIGINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>