<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.DistributorDOCustomMapper" >
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.DistributorDOCustom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  
  <insert id="insertDistributorDO" parameterType="com.aishidai.app.model.pojo.DistributorDO" >
  
  	<selectKey keyProperty="id" order="AFTER" resultType="long">
			SELECT
			LAST_INSERT_ID()
	</selectKey>
	
    insert into distributor ( name, tel, 
      contact_person, contact_phone, area, 
      province, city, address, 
      remark, sys_user_id, created, 
      updated, status)
    values (#{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{contactPerson,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{sysUserId,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  
  <sql id="sql_distributorDOList">
  
    <if test="status != null">
		AND status=#{status}
	</if>
	<if test="name != null and name != ''">
		AND name=#{name}
	</if>
	<if test="tel != null and tel != ''">
		AND tel=#{tel}
	</if>
	<if test="city != null and city != ''">
		AND city=#{city}
	</if>
	
  </sql>
  
  <select id="selectDistributorDOList" resultMap="BaseResultMap" 
  		  parameterType="com.aishidai.app.model.query.DistributorQuery">
  	select * from distributor
  	<where>
  		<include refid="sql_distributorDOList"></include>
  		<if test="aoData != null and aoData !=''">
            limit #{stratRow},#{pageSize}
        </if>
  	</where>
  </select>
  
  <select id="selectDistributorDOListCount" resultType="long" 
  		  parameterType="com.aishidai.app.model.query.DistributorQuery">
  	select count(*) from distributor 
  	<where>
  		<include refid="sql_distributorDOList"></include>
  	</where>
  </select>
  
</mapper>