<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.MakerDOCustomMapper" >

  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.MakerDOCustom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="distributor_id" property="distributorId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="audit" property="audit" jdbcType="INTEGER" />
  </resultMap>
	<insert id="insertMaker" parameterType="com.aishidai.app.model.pojo.MakerDO">
		
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		insert into maker (name, distributor_id,
		mobile, remark, created,
		updated, status, sys_user_id,
		audit)
		values (#{name,jdbcType=VARCHAR},
		#{distributorId,jdbcType=BIGINT},
		#{mobile,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},
		#{updated,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
		#{sysUserId,jdbcType=BIGINT},
		#{audit,jdbcType=INTEGER})

	</insert>
	
	<select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
		select * from maker where id = #{id}
	</select>
	
	<sql id="sql_queryMakerDOList">
		<if test="status != null">
			AND status=#{status}
		</if>
		<if test="name != null and name != ''">
			AND name=#{name}
		</if>
		<if test="mobile != null and mobile != ''">
			AND mobile=#{mobile}
		</if>
		<if test="distributorId != null">
			AND distributor_id=#{distributorId}
		</if>
	</sql>
	
	<select id="queryMakerDOList" resultMap="BaseResultMap" 
			parameterType="com.aishidai.app.model.query.MakerQuery">
	   select * from maker 
	   <where>
			<include refid="sql_queryMakerDOList"></include>
			<if test="aoData != null and aoData !=''">
            	limit #{stratRow},#{pageSize}
            </if>
	   </where>
	</select>
	
	<select id="queryMakerDOListCount" parameterType="com.aishidai.app.model.query.MakerQuery"
	 		resultType="long">
	 	select count(*) from maker 
	   <where>
			<include refid="sql_queryMakerDOList"></include>
	   </where>
	</select>
	 
</mapper>