<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishidai.app.dao.re_order_recordMapper">
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.re_order_record">
    <id column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="operate_user_id" jdbcType="BIGINT" property="operateUserId" />
    <result column="return_order_id" jdbcType="BIGINT" property="returnOrderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
    <result column="tracking_num" jdbcType="VARCHAR" property="trackingNum" />
    <result column="shop_time" jdbcType="INTEGER" property="shopTime" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="paty_time" jdbcType="INTEGER" property="patyTime" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="return_money" jdbcType="DECIMAL" property="returnMoney" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    record_id, operate_user_id, return_order_id, status, express_company, tracking_num, 
    shop_time, pay_id, paty_time, reject_reason, comments, created, user_type, return_money, 
    updated, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from re_order_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from re_order_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.pojo.re_order_record">
    insert into re_order_record (record_id, operate_user_id, return_order_id, 
      status, express_company, tracking_num, 
      shop_time, pay_id, paty_time, 
      reject_reason, comments, created, 
      user_type, return_money, updated, 
      is_deleted)
    values (#{recordId,jdbcType=BIGINT}, #{operateUserId,jdbcType=BIGINT}, #{returnOrderId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{expressCompany,jdbcType=VARCHAR}, #{trackingNum,jdbcType=VARCHAR}, 
      #{shopTime,jdbcType=INTEGER}, #{payId,jdbcType=VARCHAR}, #{patyTime,jdbcType=INTEGER}, 
      #{rejectReason,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{created,jdbcType=INTEGER}, 
      #{userType,jdbcType=TINYINT}, #{returnMoney,jdbcType=DECIMAL}, #{updated,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.pojo.re_order_record">
    insert into re_order_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="operateUserId != null">
        operate_user_id,
      </if>
      <if test="returnOrderId != null">
        return_order_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expressCompany != null">
        express_company,
      </if>
      <if test="trackingNum != null">
        tracking_num,
      </if>
      <if test="shopTime != null">
        shop_time,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="patyTime != null">
        paty_time,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="returnMoney != null">
        return_money,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="operateUserId != null">
        #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="returnOrderId != null">
        #{returnOrderId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="expressCompany != null">
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="trackingNum != null">
        #{trackingNum,jdbcType=VARCHAR},
      </if>
      <if test="shopTime != null">
        #{shopTime,jdbcType=INTEGER},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="patyTime != null">
        #{patyTime,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="returnMoney != null">
        #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.pojo.re_order_record">
    update re_order_record
    <set>
      <if test="operateUserId != null">
        operate_user_id = #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="returnOrderId != null">
        return_order_id = #{returnOrderId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="expressCompany != null">
        express_company = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="trackingNum != null">
        tracking_num = #{trackingNum,jdbcType=VARCHAR},
      </if>
      <if test="shopTime != null">
        shop_time = #{shopTime,jdbcType=INTEGER},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="patyTime != null">
        paty_time = #{patyTime,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="returnMoney != null">
        return_money = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.pojo.re_order_record">
    update re_order_record
    set operate_user_id = #{operateUserId,jdbcType=BIGINT},
      return_order_id = #{returnOrderId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      express_company = #{expressCompany,jdbcType=VARCHAR},
      tracking_num = #{trackingNum,jdbcType=VARCHAR},
      shop_time = #{shopTime,jdbcType=INTEGER},
      pay_id = #{payId,jdbcType=VARCHAR},
      paty_time = #{patyTime,jdbcType=INTEGER},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=TINYINT},
      return_money = #{returnMoney,jdbcType=DECIMAL},
      updated = #{updated,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.entity.re_order_record">
    <id column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="operate_user_id" jdbcType="BIGINT" property="operateUserId" />
    <result column="return_order_id" jdbcType="BIGINT" property="returnOrderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
    <result column="tracking_num" jdbcType="VARCHAR" property="trackingNum" />
    <result column="shop_time" jdbcType="INTEGER" property="shopTime" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="paty_time" jdbcType="INTEGER" property="patyTime" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="return_money" jdbcType="DECIMAL" property="returnMoney" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    record_id, operate_user_id, return_order_id, status, express_company, tracking_num, 
    shop_time, pay_id, paty_time, reject_reason, comments, created, user_type, return_money, 
    updated, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from re_order_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from re_order_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.entity.re_order_record">
    insert into re_order_record (record_id, operate_user_id, return_order_id, 
      status, express_company, tracking_num, 
      shop_time, pay_id, paty_time, 
      reject_reason, comments, created, 
      user_type, return_money, updated, 
      is_deleted)
    values (#{recordId,jdbcType=BIGINT}, #{operateUserId,jdbcType=BIGINT}, #{returnOrderId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{expressCompany,jdbcType=VARCHAR}, #{trackingNum,jdbcType=VARCHAR}, 
      #{shopTime,jdbcType=INTEGER}, #{payId,jdbcType=VARCHAR}, #{patyTime,jdbcType=INTEGER}, 
      #{rejectReason,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{created,jdbcType=INTEGER}, 
      #{userType,jdbcType=TINYINT}, #{returnMoney,jdbcType=DECIMAL}, #{updated,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.entity.re_order_record">
    insert into re_order_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="operateUserId != null">
        operate_user_id,
      </if>
      <if test="returnOrderId != null">
        return_order_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expressCompany != null">
        express_company,
      </if>
      <if test="trackingNum != null">
        tracking_num,
      </if>
      <if test="shopTime != null">
        shop_time,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="patyTime != null">
        paty_time,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="returnMoney != null">
        return_money,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="operateUserId != null">
        #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="returnOrderId != null">
        #{returnOrderId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="expressCompany != null">
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="trackingNum != null">
        #{trackingNum,jdbcType=VARCHAR},
      </if>
      <if test="shopTime != null">
        #{shopTime,jdbcType=INTEGER},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="patyTime != null">
        #{patyTime,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="returnMoney != null">
        #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.entity.re_order_record">
    update re_order_record
    <set>
      <if test="operateUserId != null">
        operate_user_id = #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="returnOrderId != null">
        return_order_id = #{returnOrderId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="expressCompany != null">
        express_company = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="trackingNum != null">
        tracking_num = #{trackingNum,jdbcType=VARCHAR},
      </if>
      <if test="shopTime != null">
        shop_time = #{shopTime,jdbcType=INTEGER},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="patyTime != null">
        paty_time = #{patyTime,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="returnMoney != null">
        return_money = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.entity.re_order_record">
    update re_order_record
    set operate_user_id = #{operateUserId,jdbcType=BIGINT},
      return_order_id = #{returnOrderId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      express_company = #{expressCompany,jdbcType=VARCHAR},
      tracking_num = #{trackingNum,jdbcType=VARCHAR},
      shop_time = #{shopTime,jdbcType=INTEGER},
      pay_id = #{payId,jdbcType=VARCHAR},
      paty_time = #{patyTime,jdbcType=INTEGER},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=TINYINT},
      return_money = #{returnMoney,jdbcType=DECIMAL},
      updated = #{updated,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>