<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.RoleResourceDOMapper" >

  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.RoleResourceDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleId" property="roleid" jdbcType="BIGINT" />
    <result column="resourceId" property="resourceid" jdbcType="BIGINT" />
    <result column="createrId" property="createrid" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="BIGINT" />
    <result column="updated" property="updated" jdbcType="BIGINT" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="isDeleted" property="isdeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, roleId, resourceId, createrId, created, updated, feature, isDeleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aishidai.app.model.pojo.RoleResourceDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from role_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from role_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aishidai.app.model.pojo.RoleResourceDOExample" >
    delete from role_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.pojo.RoleResourceDO" >
    insert into role_resource (id, roleId, resourceId, 
      createrId, created, updated, 
      feature, isDeleted)
    values (#{id,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{resourceid,jdbcType=BIGINT}, 
      #{createrid,jdbcType=BIGINT}, #{created,jdbcType=BIGINT}, #{updated,jdbcType=BIGINT}, 
      #{feature,jdbcType=VARCHAR}, #{isdeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.pojo.RoleResourceDO" >
    insert into role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="resourceid != null" >
        resourceId,
      </if>
      <if test="createrid != null" >
        createrId,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="isdeleted != null" >
        isDeleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=BIGINT},
      </if>
      <if test="createrid != null" >
        #{createrid,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=BIGINT},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aishidai.app.model.pojo.RoleResourceDOExample" resultType="java.lang.Integer" >
    select count(*) from role_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update role_resource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roleid != null" >
        roleId = #{record.roleid,jdbcType=BIGINT},
      </if>
      <if test="record.resourceid != null" >
        resourceId = #{record.resourceid,jdbcType=BIGINT},
      </if>
      <if test="record.createrid != null" >
        createrId = #{record.createrid,jdbcType=BIGINT},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=BIGINT},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=BIGINT},
      </if>
      <if test="record.feature != null" >
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.isdeleted != null" >
        isDeleted = #{record.isdeleted,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update role_resource
    set id = #{record.id,jdbcType=BIGINT},
      roleId = #{record.roleid,jdbcType=BIGINT},
      resourceId = #{record.resourceid,jdbcType=BIGINT},
      createrId = #{record.createrid,jdbcType=BIGINT},
      created = #{record.created,jdbcType=BIGINT},
      updated = #{record.updated,jdbcType=BIGINT},
      feature = #{record.feature,jdbcType=VARCHAR},
      isDeleted = #{record.isdeleted,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.pojo.RoleResourceDO" >
    update role_resource
    <set >
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=BIGINT},
      </if>
      <if test="resourceid != null" >
        resourceId = #{resourceid,jdbcType=BIGINT},
      </if>
      <if test="createrid != null" >
        createrId = #{createrid,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=BIGINT},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        isDeleted = #{isdeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.pojo.RoleResourceDO" >
    update role_resource
    set roleId = #{roleid,jdbcType=BIGINT},
      resourceId = #{resourceid,jdbcType=BIGINT},
      createrId = #{createrid,jdbcType=BIGINT},
      created = #{created,jdbcType=BIGINT},
      updated = #{updated,jdbcType=BIGINT},
      feature = #{feature,jdbcType=VARCHAR},
      isDeleted = #{isdeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <insert id="insertRoleResourceDO" parameterType="com.aishidai.app.model.pojo.RoleResourceDO">
  	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
	</selectKey>
  insert into role_resource (roleId, resourceId, 
      createrId, created, updated, 
      feature, isDeleted)
    values (#{roleid,jdbcType=BIGINT}, #{resourceid,jdbcType=BIGINT}, 
      #{createrid,jdbcType=BIGINT}, #{created,jdbcType=BIGINT}, #{updated,jdbcType=BIGINT}, 
      #{feature,jdbcType=VARCHAR}, #{isdeleted,jdbcType=TINYINT})
      
  </insert>
  
  
</mapper>