<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.ShopsDOMapper" >
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.ShopsDO" >
    <id column="shops_id" property="shopsId" jdbcType="BIGINT" />
    <result column="distributor_id" property="distributorId" jdbcType="BIGINT" />
    <result column="shops_name" property="shopsName" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="shops_url" property="shopsUrl" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="activity" property="activity" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="sys_user_id" property="sysUserId" jdbcType="BIGINT" />
    <result column="shop_hours_open" property="shopHoursOpen" jdbcType="VARCHAR" />
    <result column="shop_hours_close" property="shopHoursClose" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="services" property="services" jdbcType="VARCHAR" />
    <result column="hot" property="hot" jdbcType="INTEGER" />
    <result column="services_type" property="servicesType" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="device_is" property="deviceIs" jdbcType="INTEGER" />
    <result column="audit" property="audit" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="lnt" property="lnt" jdbcType="VARCHAR" />
    <result column="is_suppliers" property="isSuppliers" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shops_id, distributor_id, shops_name, introduce, shops_url, telephone, area, address, 
    province, city, activity, created, updated, sys_user_id, shop_hours_open, shop_hours_close, 
    is_deleted, services, hot, services_type, device_id, device_is, audit, star, lat, 
    lnt, is_suppliers
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aishidai.app.model.pojo.ShopsDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shops
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shops
    where shops_id = #{shopsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shops
    where shops_id = #{shopsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aishidai.app.model.pojo.ShopsDOExample" >
    delete from shops
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aishidai.app.model.pojo.ShopsDO" >
    insert into shops (shops_id, distributor_id, shops_name, 
      introduce, shops_url, telephone, 
      area, address, province, 
      city, activity, created, 
      updated, sys_user_id, shop_hours_open, 
      shop_hours_close, is_deleted, services, 
      hot, services_type, device_id, 
      device_is, audit, star, 
      lat, lnt, is_suppliers
      )
    values (#{shopsId,jdbcType=BIGINT}, #{distributorId,jdbcType=BIGINT}, #{shopsName,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{shopsUrl,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{activity,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{sysUserId,jdbcType=BIGINT}, #{shopHoursOpen,jdbcType=VARCHAR}, 
      #{shopHoursClose,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, #{services,jdbcType=VARCHAR}, 
      #{hot,jdbcType=INTEGER}, #{servicesType,jdbcType=VARCHAR}, #{deviceId,jdbcType=BIGINT}, 
      #{deviceIs,jdbcType=INTEGER}, #{audit,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, 
      #{lat,jdbcType=VARCHAR}, #{lnt,jdbcType=VARCHAR}, #{isSuppliers,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aishidai.app.model.pojo.ShopsDO" >
    insert into shops
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopsId != null" >
        shops_id,
      </if>
      <if test="distributorId != null" >
        distributor_id,
      </if>
      <if test="shopsName != null" >
        shops_name,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="shopsUrl != null" >
        shops_url,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="activity != null" >
        activity,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="shopHoursOpen != null" >
        shop_hours_open,
      </if>
      <if test="shopHoursClose != null" >
        shop_hours_close,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="services != null" >
        services,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="servicesType != null" >
        services_type,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceIs != null" >
        device_is,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lnt != null" >
        lnt,
      </if>
      <if test="isSuppliers != null" >
        is_suppliers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopsId != null" >
        #{shopsId,jdbcType=BIGINT},
      </if>
      <if test="distributorId != null" >
        #{distributorId,jdbcType=BIGINT},
      </if>
      <if test="shopsName != null" >
        #{shopsName,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="shopsUrl != null" >
        #{shopsUrl,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="activity != null" >
        #{activity,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="shopHoursOpen != null" >
        #{shopHoursOpen,jdbcType=VARCHAR},
      </if>
      <if test="shopHoursClose != null" >
        #{shopHoursClose,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="services != null" >
        #{services,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="servicesType != null" >
        #{servicesType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="deviceIs != null" >
        #{deviceIs,jdbcType=INTEGER},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lnt != null" >
        #{lnt,jdbcType=VARCHAR},
      </if>
      <if test="isSuppliers != null" >
        #{isSuppliers,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aishidai.app.model.pojo.ShopsDOExample" resultType="java.lang.Integer" >
    select count(*) from shops
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shops
    <set >
      <if test="record.shopsId != null" >
        shops_id = #{record.shopsId,jdbcType=BIGINT},
      </if>
      <if test="record.distributorId != null" >
        distributor_id = #{record.distributorId,jdbcType=BIGINT},
      </if>
      <if test="record.shopsName != null" >
        shops_name = #{record.shopsName,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.shopsUrl != null" >
        shops_url = #{record.shopsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.activity != null" >
        activity = #{record.activity,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysUserId != null" >
        sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      </if>
      <if test="record.shopHoursOpen != null" >
        shop_hours_open = #{record.shopHoursOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.shopHoursClose != null" >
        shop_hours_close = #{record.shopHoursClose,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.services != null" >
        services = #{record.services,jdbcType=VARCHAR},
      </if>
      <if test="record.hot != null" >
        hot = #{record.hot,jdbcType=INTEGER},
      </if>
      <if test="record.servicesType != null" >
        services_type = #{record.servicesType,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceId != null" >
        device_id = #{record.deviceId,jdbcType=BIGINT},
      </if>
      <if test="record.deviceIs != null" >
        device_is = #{record.deviceIs,jdbcType=INTEGER},
      </if>
      <if test="record.audit != null" >
        audit = #{record.audit,jdbcType=INTEGER},
      </if>
      <if test="record.star != null" >
        star = #{record.star,jdbcType=INTEGER},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.lnt != null" >
        lnt = #{record.lnt,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuppliers != null" >
        is_suppliers = #{record.isSuppliers,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shops
    set shops_id = #{record.shopsId,jdbcType=BIGINT},
      distributor_id = #{record.distributorId,jdbcType=BIGINT},
      shops_name = #{record.shopsName,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      shops_url = #{record.shopsUrl,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      activity = #{record.activity,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      shop_hours_open = #{record.shopHoursOpen,jdbcType=VARCHAR},
      shop_hours_close = #{record.shopHoursClose,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      services = #{record.services,jdbcType=VARCHAR},
      hot = #{record.hot,jdbcType=INTEGER},
      services_type = #{record.servicesType,jdbcType=VARCHAR},
      device_id = #{record.deviceId,jdbcType=BIGINT},
      device_is = #{record.deviceIs,jdbcType=INTEGER},
      audit = #{record.audit,jdbcType=INTEGER},
      star = #{record.star,jdbcType=INTEGER},
      lat = #{record.lat,jdbcType=VARCHAR},
      lnt = #{record.lnt,jdbcType=VARCHAR},
      is_suppliers = #{record.isSuppliers,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aishidai.app.model.pojo.ShopsDO" >
    update shops
    <set >
      <if test="distributorId != null" >
        distributor_id = #{distributorId,jdbcType=BIGINT},
      </if>
      <if test="shopsName != null" >
        shops_name = #{shopsName,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="shopsUrl != null" >
        shops_url = #{shopsUrl,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="activity != null" >
        activity = #{activity,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="shopHoursOpen != null" >
        shop_hours_open = #{shopHoursOpen,jdbcType=VARCHAR},
      </if>
      <if test="shopHoursClose != null" >
        shop_hours_close = #{shopHoursClose,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="services != null" >
        services = #{services,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="servicesType != null" >
        services_type = #{servicesType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="deviceIs != null" >
        device_is = #{deviceIs,jdbcType=INTEGER},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lnt != null" >
        lnt = #{lnt,jdbcType=VARCHAR},
      </if>
      <if test="isSuppliers != null" >
        is_suppliers = #{isSuppliers,jdbcType=INTEGER},
      </if>
    </set>
    where shops_id = #{shopsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aishidai.app.model.pojo.ShopsDO" >
    update shops
    set distributor_id = #{distributorId,jdbcType=BIGINT},
      shops_name = #{shopsName,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      shops_url = #{shopsUrl,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      activity = #{activity,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      sys_user_id = #{sysUserId,jdbcType=BIGINT},
      shop_hours_open = #{shopHoursOpen,jdbcType=VARCHAR},
      shop_hours_close = #{shopHoursClose,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      services = #{services,jdbcType=VARCHAR},
      hot = #{hot,jdbcType=INTEGER},
      services_type = #{servicesType,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=BIGINT},
      device_is = #{deviceIs,jdbcType=INTEGER},
      audit = #{audit,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      lat = #{lat,jdbcType=VARCHAR},
      lnt = #{lnt,jdbcType=VARCHAR},
      is_suppliers = #{isSuppliers,jdbcType=INTEGER}
    where shops_id = #{shopsId,jdbcType=BIGINT}
  </update>
</mapper>