<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aishidai.app.dao.ShopCommissionDOCustomMapper" >
  <resultMap id="BaseResultMap" type="com.aishidai.app.model.pojo.ShopCommissionDOCustom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="barbershop_commission" property="barbershopCommission" jdbcType="INTEGER" />
    <result column="distributor_id" property="distributorId" jdbcType="BIGINT" />
    <result column="distributor_name" property="distributorName" jdbcType="VARCHAR" />
    <result column="distributor_commission" property="distributorCommission" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="maker_commission" property="makerCommission" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insertShopCommissionDO" parameterType="com.aishidai.app.model.pojo.ShopCommissionDO" >
   
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
		SELECT LAST_INSERT_ID()
	</selectKey>
   
    insert into shop_commission (barbershop_commission, distributor_id, 
      distributor_name, distributor_commission, 
      shop_name, shop_id, type, 
      maker_commission, create_id, create_name, 
      created, updated, is_delete
      )
    values (#{barbershopCommission,jdbcType=INTEGER}, #{distributorId,jdbcType=BIGINT}, 
      #{distributorName,jdbcType=VARCHAR}, #{distributorCommission,jdbcType=INTEGER}, 
      #{shopName,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{makerCommission,jdbcType=INTEGER}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <sql id="sql_shopCommissionDOList">
    <if test="isDelete != null">
    	and is_delete = #{isDelete}
    </if>
  	<if test="distributorId != null">
  		and distributor_id = #{distributorId}
  	</if>
  	<if test="shopId != null">
  		and shop_id = #{shopId}
  	</if>
  	<if test="type != null">
  		and type = #{type}
  	</if>
  </sql>
  <select id="selectShopCommissionDOList" resultMap="BaseResultMap"
  		parameterType="com.aishidai.app.model.query.ShopCommissionQuery">
  		select * from shop_commission
  		<where>
  			<include refid="sql_shopCommissionDOList"></include>
  			<if test="aoData != null and aoData !=''">
            	limit #{stratRow},#{pageSize}
            </if>
  		</where>
  </select>
 		
 		
  <select id="selectShopCommissionDOListCount" parameterType="com.aishidai.app.model.query.ShopCommissionQuery"
  	resultType="long" >
  		select count(*) from shop_commission
  		<where>
  		   <include refid="sql_shopCommissionDOList"></include>
  		</where>
  </select>
  
</mapper>