.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
/*********************/
.icon-app-error
{
    background:url('icons/app_error.png') no-repeat center center;
}
.icon-collapsed-yes
{
    background:url('icons/collapsed_yes.png') no-repeat center center;
}
.icon-collapsed-no
{
    background:url('icons/collapsed_no.png') no-repeat center center;
}
.icon-database-copy
{
    background:url('icons/database_copy.png') no-repeat center center;
}
.icon-user
{
    background:url('icons/user.png') no-repeat center center;
}
.icon-user-add
{
    background:url('icons/user_add.png') no-repeat center center;
}
.icon-user-delete
{
    background:url('icons/user_delete.png') no-repeat center center
}
.icon-user-search
{
    background:url('icons/user_search.png') no-repeat center center
}
.icon-user-red
{
    background:url('icons/user_red.png') no-repeat center center;
}
.icon-key
{
    background:url('icons/key.png') no-repeat center center;
}
.icon-key-go
{
    background:url('icons/key_go.png') no-repeat center center;
}
.icon-lock
{
    background:url('icons/lock.png') no-repeat center center;
}
.icon-system
{
    background:url('icons/system.png') no-repeat center center;
}
.icon-system-close
{
    background:url('icons/system_close.gif') no-repeat center center;
}
.icon-attach
{
    background:url('icons/attach.png') no-repeat center center;
}
.icon-group
{
    background:url('icons/group.png') no-repeat center center;
}
.icon-group-add
{
    background:url('icons/group_add.png') no-repeat center center;
}
.icon-group-delete
{
    background:url('icons/group_delete.png') no-repeat center center;
}
.icon-group-edit
{
    background:url('icons/group_edit.png') no-repeat center center;
}
.icon-menu
{
    background:url('icons/menu.png') no-repeat center center;
}
.icon-menu-add
{
    background:url('icons/menu_add.png') no-repeat center center;
}
.icon-menu-delete
{
    background:url('icons/menu_delete.png') no-repeat center center;
}
.icon-menu-edit
{
    background:url('icons/menu_edit.png') no-repeat center center;
}
.icon-cog
{
    background:url('icons/cog.png') no-repeat center center;
}
.icon-horn
{
    background:url('icons/horn.gif') no-repeat center center;
}
.icon-arrow-down
{
    background:url('icons/arrow_down.png') no-repeat center center;
}
.icon-arrow-up
{
    background:url('icons/arrow_up.png') no-repeat center center;
}
.icon-book-resses
{
    background:url('icons/book_resses.png') no-repeat center center;
}
.icon-book-resses-add
{
    background:url('icons/book_resses_add.png') no-repeat center center;
}
.icon-book-resses-edit
{
    background:url('icons/book_resses_edit.png') no-repeat center center;
}
.icon-book-resses-delete
{
    background:url('icons/book_resses_delete.png') no-repeat center center;
}
.icon-box-world
{
    background:url('icons/box_world.png') no-repeat center center;
}
.icon-role-red
{
    background:url('icons/role_red.png') no-repeat center center;
}
.icon-book-open
{
    background:url('icons/book_open.png') no-repeat center center;
}
.icon-book
{
    background:url('icons/book.png') no-repeat center center;
}
.icon-book-add
{
    background:url('icons/book_add.png') no-repeat center center;
}
.icon-book-edit
{
    background:url('icons/book_edit.png') no-repeat center center;
}
.icon-book-delete
{
    background:url('icons/book_delete.png') no-repeat center center;
}
.icon-book-search
{
    background:url('icons/book_search.png') no-repeat center center;
}
.icon-page
{
    background:url('icons/page.png') no-repeat center center;
}
.icon-image-add
{
    background:url('icons/image_add.png') no-repeat center center;
}
.icon-image-delete
{
    background:url('icons/image_delete.png') no-repeat center center;
}
.icon-adds
{
    background:url('icons/add.png') no-repeat center center;
}
.icon-folder-book
{
    background:url('icons/folder_book.png') no-repeat center center;
}
.icon-next{
	background:url('icons/next_green.png') no-repeat center center;
}
.icon-previous{
	background:url('icons/previous_green.png') no-repeat center center;
}
.icon-add-blue{
	background:url('icons/add_blue.png') no-repeat center center;
}
.icon-remove-blue{
	background:url('icons/remove_blue.png') no-repeat center center;
}

