@CHARSET "UTF-8";
@import url(header.css);
@import url(footer.css);
<!--内容-->
.content{width:1120px; height:650px; margin:20px auto;}

.left{width:300px;float:left;border:0px solid #000;}
.left .cen{width:300px; min-height:405px;margin-bottom:10px; background:#fff; border:1px solid #ccc;}
 .title{height:36px; background:url(../images/tit_bg.png) repeat; line-height:36px; padding-left:10px; color:#006498;}
 .title span{color:#ff6f6f; float:right; font-family:Arial;padding-right:10px;}
 
.left .cai{width:300px; min-height:130px;margin-bottom:10px; background:#fff; border:1px solid #ccc;}
.left .cai .shen .marl{padding-left:20px;}
.left .cai .shen .marl li{background:url(../images/shenbao_03.png) left no-repeat;padding-left:20px;line-height:30px;}
.left .cai .shen .marl li a{color:#333;}

.left .cen .con{padding:10px 10px 0;}
.left .cen .con .c_dv{margin-bottom:10px;border:0px solid #000;overflow:hidden;}
.left .cen .con .c_left{float:left;width:100px;height:80px;border:0px solid #000;}
.left .cen .con .c_right{float:right;width:175px;border:0px solid #000;min-height:80px;}

.left .cen .con .c_right p{line-height:25px;}
.left .cen .con .c_right p font{font-size:14px;}
.left .cen .con .c_right p a{color:#333;}

.right{width:810px;float:right;border:0px solid #000;color:#333;}
.right .nei{background:#fff; border:1px solid #ccc;min-height:650px;padding:10px 20px;}
.right .nei .h2{margin-top:20px;margin-bottom:20px; line-height:25px; text-align:center; font-size:20px;}
.page{text-align:center; border-bottom:0px dashed #999; padding-top:10px;}
