<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.IMenuDao">
	<resultMap id="menuMap" type="Menu">
	</resultMap>
	<select id="getMenuByID" resultMap="menuMap">
		select * from menu where menuAutoid=#{menuAutoid}
	</select>
	<select id="getAllMenu" resultMap="menuMap">
		select * from menu order by sortIndex asc
	</select>
	<select id="getMenu" resultMap="menuMap" parameterType="Integer">
		select * from menu where isWeb=#{isWeb} 
		order by sortIndex asc
	</select>
	<select id="getMenuByPage" resultMap="menuMap">
		select * from menu where menuAutoid order by sortIndex asc limit #{pageindex},#{pagesize}
	</select>
	<select id="getCount" resultType="int">
		select count(*) as count from menu
	</select>
	<!-- 在添加和编辑的时候判断是否已经存在该名称model -->
	<select id="hasModel" resultMap="menuMap">
		select * from menu where model=#{model}
		<if test="menuAutoid!=0 and menuAutoid!=null">
			and menuAutoid!=#{menuAutoid}
		</if>
	</select>
	<select id="getMenuByModel" resultMap="menuMap">
		select * from menu where model=#{model}
	</select>
	
	<insert id="create" parameterType="Menu" useGeneratedKeys="true" keyProperty="menuAutoid">
		insert into menu(title,iconUrl,navigateUrl,webUrl,isWeb,parentID,model,sortIndex)
		values(#{title},#{iconUrl},#{navigateUrl},#{webUrl},#{isWeb},#{parentID},#{model},
		  (select sortIndex from(select IFNULL(MAX(sortIndex)+1,1) as sortIndex from menu) as newt)
		)
	</insert>
	<update id="modify" parameterType="Menu">
		update menu set title=#{title}, iconUrl=#{iconUrl}, navigateUrl=#{navigateUrl}, webUrl=#{webUrl}, isWeb=#{isWeb}, parentID=#{parentID},model=#{model} where menuAutoid=#{menuAutoid}
	</update>
	<delete id="delete">
		delete from menu where menuAutoid=#{menuAutoid}
	</delete>
</mapper>